body {
    margin: 5px;
    padding: 2px;
    background-image: url("img/blackandwhiteCharts.jpg");
    background-size: 100%;

}

#login-form {
    text-align: center
}


.header {
    text-align: left;
    background: black;
    color: white;
    font-size: 30px;
    margin:0;
  }
    
#stockcontainer{
    margin: 10px;
}

#login-form {
    text-align: left;
}

.chart {
    border: 5px;
    border-style: inset;
}

#stocknumber{
    width: 20px;
}
#searchinfo{
    
}
#please{
    color: white;
    margin-bottom: 0px;
}

#portfolio{
    color: white;
}