body {
    margin: 0;
    background-image: url("img/blackandwhiteCharts.jpg");
    background-size: 100%;
}

#login-form {
    text-align: center
}


.header {
    background: black;
    color: white;
    font-size: 30px;
    margin:0;
}

#search-container{
    margin-left: 5px;
}
    
#stock-container{
    margin: 10px;
    
}

#login-form {
    margin-left: 5px;
    text-align: left;
}

#search-form {
    margin-left: 5px;
}

#user-welcome {
    margin-left: 5px;
}

.chart {
    border: 5px;
    border-style: inset;
}

#stock-number{
    width: 20px;
}

#please{
    color: white;
    margin-bottom: 0px;
    margin-left: 5px;

}

#portfolio{
    color: white;
    margin-left: 5px;
}

